---
import { type Service } from "../../../Consts/Types";
interface Props {
  service: Service;
}
const { service } = Astro.props;
const { examples, title } = service;
import FeaturedCard from "../../PrincipalPage/Featured/Items/SubItems/ProjectCard.astro";
---

<section
  id="FullSection"
  class="before:bg-gradient-to-r before:from-transparent text-white before:to-white
after:bg-gradient-to-l after:from-transparent after:to-white
flex relative flex-col w-full items-center justify-center gap-12 py-20 px-5 bg-contrast"
>
  <div class="h-[2px] absolute top-0 w-1/2 bg-white"></div>
  <h2 class="text-4xl text-white font-bold">Ejemplos de {title}</h2>
  <strong class=" text-white">Investiga un poco sobre como son los {title}</strong>
  <section class="flex flex-wrap justify-center gap-12 w-full">
    {
      examples.map((el) => (
        <FeaturedCard
          description={el.description}
          image={el.image}
          logo={el.logo}
          title={el.title}
        />
      ))
    }
  </section>
</section>

<style>
  #FullSection::before {
    position: absolute;
    top: 0;
    content: "";
    z-index: 3;
    width: 20%;
    left: 6%;
    height: 2px;
  }

  #FullSection::after {
    position: absolute;
    top: 0;
    content: "";
    z-index: 3;
    width: 20%;
    right: 6%;
    height: 2px;
  }
</style>
